<?php

$title = $this->translate( 'Usuários' );
$this->headTitle( $title );

?>

<div class="row toolbar">
	<div class="col-lg-12">
		<a href="<?php echo $this->url('user', array('action' => 'save')); ?>" class="btn btn-small btn-primary"><?php echo $this->translate('Adicionar'); ?></a>
		<button class="btn btn-small btn-danger submit-main"><?php echo $this->translate('Remover'); ?></button>
	</div>
</div>

<div class="row">
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">

		<h3><?php echo $this->translate('Usuários'); ?></h3>
		
		<form action="<?php echo $this->url('user', array('action' => 'remove')); ?>" method="POST" class="main">
		
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th><input type="checkbox" class="checkall" /></th>
					<th><?php echo $this->translate('Nome'); ?></th>
					<th><?php echo $this->translate('Usuário'); ?></th>
					<th class="align-center hidden-phone hidden-tablet"><?php echo $this->translate('Ativado'); ?></th>
					<th class="align-right"><?php echo $this->translate('Ações'); ?></th>
				</tr>
			</thead>
			<tbody>
		<?php if( count( $registros ) ): ?>
			<?php foreach( $registros as $registro ): ?>
				<tr>
					<td><input type="checkbox" name="registros[]" value="<?php echo $registro['id']; ?>" class="checkbyall" /></td>
					<td><?php echo $registro['name']; ?></td>
					<td><?php echo $registro['username']; ?></td>
					<td class="align-center hidden-phone hidden-tablet"><?php echo $this->partial( 'partial/boolicon.phtml', array( 'status' => isset( $registro['valid'] ) ? $registro['valid'] : false ) ); ?></td>
					<td class="align-right">
						<a href="<?php echo $this->url( 'user', array('action' => 'resend', 'id' => $registro['id']) ); ?>" class="btn btn-info btn-xs"><?php echo $this->translate('Reenviar senha'); ?></a>
						<a href="<?php echo $this->url( 'user', array('action' => 'save', 'id' => $registro['id']) ); ?>" class="btn btn-warning btn-xs"><?php echo $this->translate('Editar'); ?></a>
					</td>
				</tr>
			<?php endforeach; ?>
		<?php else: ?>
				<tr>
					<td colspan="8"><?php echo $this->translate('Nenhum usuário foi encontrado'); ?></td>
				</tr>
		<?php endif; ?>
			</tbody>
		</table>
		
		</form>
		
		<?php echo $this->paginationControl( $registros, 'Sliding', 'partial/paginator/control.phtml' ); ?>
		
	</div>
	
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		
		<h3><?php echo $this->translate('Filtros'); ?></h3>
		
		<form class="form">
			<div class="form-group">
				<label class="control-label" for="inputEmail"><?php echo $this->translate('Grupo'); ?></label>
				<div class="controls">
					<select name="valid" class="form-control">
						<option value=""><?php echo $this->translate('Mostrar todos'); ?></option>
						<option value="yes"><?php echo $this->translate('Mostrar ativos'); ?></option>
						<option value="no"><?php echo $this->translate('Mostrar desativados'); ?></option>
					</select>
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-small"><?php echo $this->translate('Filtrar'); ?></button>
				</div>
			</div>
		</form>
		
	</div>
</div>