<?php foreach( $registros as $registro ):

 ?>
	<div class="row depoimento">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
			<img src="<?php echo $this->basePath( $registro['foto'] ? 'uploads/depoimentos/thumb_' . $registro['foto'] : 'images/photo.jpg' ); ?>" alt="" class="img-circle" />
		</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
			<h4 class="text-right">De <b><?php echo $registro['nome']; ?></b></h4>

			<p>
				<span class="open-quotes hidden-xs">&#8220;</span>
				<?php 
					echo ( ( ( strip_tags( $registro['mensagem'] ) ) ) );
					//echo preg_replace( '/(<[^>]+) [A-z0-9]*=".*?"/i', '$1', preg_replace( '/<\/?[^(em)]+>/i', '', $registro['mensagem'] ) );
					//'/<\/?(p|div)+>/i' (tirar todos que sejam p e div)
				?>
				<span class="close-quotes hidden-xs">&#8221;</span>
			</p>
		</div>
	</div>
<?php endforeach; ?>