<ul class="nav navbar-nav pull-right">

<?php 

foreach ($this->container as $page)
{	
	if( !$page->isVisible() || !$this->navigation()->accept( $page )  ) 
		continue;
	
	if( !$page->hasPages() )
	{
		echo '<li class="' . ( $page->isActive() ? ' active' : '' ) . '">';
		echo '<a href="' . $page->getHref() . '">' . $this->translate( $page->getLabel() ) . '</a>';
	}
	else
	{		
		echo '<li class="dropdown' . ( $page->isActive() ? ' active' : '' ) . '">';
		echo '<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">' . $this->translate( $page->getLabel() ) . ' <b class="caret"> </b></a>';
		
		echo ' <ul class="dropdown-menu">';
		foreach( $page->getPages() as $child )
		{
			if( !$child->isVisible() || !$this->navigation()->accept( $child ) )
				continue;
			
			echo '<li class="' . ( $child->isActive() ? ' active' : '' ) . '">';
			echo '<a href="' . $child->getHref() . '">' 
					. ( isset( $child->icon ) ? '<span class="glyphicon ' . $child->icon  . '"></span> ' : '' )
					. $this->translate( $child->getLabel() ) 
					. '</a>';
			echo '</li>';
		}
		echo '</ul>';
	}
	
	echo '</li>';
}
?>

</ul>