<?php echo $this->doctype(); ?>

<html lang="pt_BR">
<head>
	<meta charset="utf-8">
	<?php echo $this->headTitle( $this->translate('CMS') )->setSeparator(' - ')->setAutoEscape(false) ?>

	<?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
	<?php echo $this->headMeta()->appendName('robots', 'noindex, nofollow') ?>

	<!-- Le styles -->
	<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
					->prependStylesheet($this->basePath() . '/css/admin.css')
					->prependStylesheet($this->basePath() . '/js/plupload-2.1.1/jquery.plupload.queue/css/jquery.plupload.queue.css')
                    ->prependStylesheet($this->basePath() . '/css/flick/jquery-ui-1.10.2.custom.min.css')
					->prependStylesheet($this->basePath() . '/js/fancy/jquery.fancybox.css?v=2.1.5')
					->prependStylesheet($this->basePath() . '/fonts/raleway/raleway.css')
					->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

	<!-- Scripts -->
	<?php echo $this->headScript()
					->prependFile($this->basePath() . '/js/admin.js')
					->prependFile($this->basePath() . '/js/plupload-2.1.1/i18n/pt_BR.js')
					->prependFile($this->basePath() . '/js/plupload-2.1.1/jquery.plupload.queue/jquery.plupload.queue.js')
					->prependFile($this->basePath() . '/js/plupload-2.1.1/plupload.full.min.js')
					->prependFile($this->basePath() . '/js/ckeditor/ckeditor.js')
					->prependFile($this->basePath() . '/js/fancy/helpers/jquery.fancybox-media.js?v=1.0.6')
					->prependFile($this->basePath() . '/js/fancy/jquery.fancybox.pack.js?v=2.1.5')
					->prependFile($this->basePath() . '/js/jquery.masked.js')
					->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
					->prependFile($this->basePath() . '/js/bootstrap.min.js')
					->prependFile($this->basePath() . '/js/jquery-ui-1.10.2.custom.min.js')
					->prependFile($this->basePath() . '/js/jquery.js') ?>
</head>
<body>
	<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
		
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsepart">
					<span class="sr-only"><?php echo $this->translate('Toggle navigation'); ?></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="<?php echo $this->url('admin') ?>"><?php echo $this->translate('CMS'); ?></a>
			</div>

			<div class="collapse navbar-collapse" id="collapsepart">
				<?php 
				$partial = array('partial/adminmenu.phtml', 'default');
				echo $this->navigation('admin')
						->menu()
						->setPartial($partial)
						->render();

				echo $this->partial('partial/profile.phtml');
				?>
			</div><!--/.nav-collapse -->
		
		</div>
	</nav>

	<div class="container content">
		
		<div id="messages">

		<?php

			$currentMessages = isset( $currentMessages ) ? $currentMessages : array();

			$templates = array(
				'warning'	=> '<div class="alert alert-warning"><a class="close" data-dismiss="alert">×</a><strong>Aviso!</strong> %s</div>',
				'error'		=> '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><strong>Erro!</strong> %s</div>',
				'info'		=> '<div class="alert alert-info"><a class="close" data-dismiss="alert">×</a><strong>Informação!</strong> %s</div>',
				'success'	=> '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Sucesso!</strong> %s</div>',
			);

			foreach( $this->flashMessenger()->getMessages() as $mensagem )
			{
				echo sprintf( $templates[ 'warning' ], $this->translate( $mensagem ) );
			}

			foreach( $this->flashMessenger()->getErrorMessages() as $mensagem )
			{
				echo sprintf( $templates[ 'error' ], $this->translate( $mensagem ) );
			}

			foreach( $this->flashMessenger()->getInfoMessages() as $mensagem )
			{
				echo sprintf( $templates[ 'info' ], $this->translate( $mensagem ) );
			}

			foreach( $this->flashMessenger()->getSuccessMessages() as $mensagem )
			{
				echo sprintf( $templates[ 'success' ], $this->translate( $mensagem ) );
			}

		?>

		</div>
		
		<?php echo $this->content; ?>		
		
		<footer>
			<hr>		
			<small class="muted">
				&copy; <?php echo date('Y'); ?> 
				<?php echo $this->translate('Developed by'); ?> Gabriel Alan. 
				<?php echo $this->translate('All rights reserved') ?>.
			</small>
		</footer>
	</div> <!-- /container -->
	
	<?php echo $this->inlineScript() ?>
</body>
</html>					