<?php echo $this->doctype(); ?>
<html lang="en">
<head>
	<meta charset="utf-8">
	<?php echo $this->headTitle( $this->translate('CMS') )->setSeparator(' - ')->setAutoEscape(false) ?>

	<?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
	<?php echo $this->headMeta()->appendName('robots', 'noindex, nofollow') ?>

	<!-- Le styles -->
	<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
					->prependStylesheet($this->basePath() . '/css/login.css')
					->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

	<!-- Scripts -->
	<?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
								  ->prependFile($this->basePath() . '/js/bootstrap.min.js')
								  ->prependFile($this->basePath() . '/js/jquery.js') ?>
</head>
<body>

	<div id="messages">

	<?php

		$currentMessages = isset( $currentMessages ) ? $currentMessages : array();

		$templates = array(
			'warning'	=> '<div class="alert"><a class="close" data-dismiss="alert">×</a> %s</div>',
			'error'		=> '<div class="alert alert-error"><a class="close" data-dismiss="alert">×</a><strong>Erro!</strong> %s</div>',
			'info'		=> '<div class="alert alert-info"><a class="close" data-dismiss="alert">×</a><strong>Informação!</strong> %s</div>',
			'success'	=> '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Sucesso!</strong> %s</div>',
		);

		foreach( $this->flashMessenger()->getMessages() as $mensagem )
		{
			echo sprintf( $templates[ 'warning' ], $mensagem );
		}

		foreach( $this->flashMessenger()->getErrorMessages() as $mensagem )
		{
			echo sprintf( $templates[ 'warning' ], $mensagem );
		}

		foreach( $this->flashMessenger()->getInfoMessages() as $mensagem )
		{
			echo sprintf( $templates[ 'warning' ], $mensagem );
		}

		foreach( $this->flashMessenger()->getSuccessMessages() as $mensagem )
		{
			echo sprintf( $templates[ 'warning' ], $mensagem );
		}

	?>

	</div>
	
	<div class="container">
		
		<?php echo $this->content; ?>		
		
		<footer id="main">
			<small class="muted">
				&copy; <?php echo date('Y'); ?> 
				<?php echo $this->translate('Developed by'); ?> Gabriel Alan. 
				<?php echo $this->translate('All rights reserved') ?>.
			</small>
		</footer>
	</div> <!-- /container -->
	
	<?php echo $this->inlineScript() ?>
</body>
</html>					