<?php

$title = $this->translate( 'Modificar meu perfil' );
$this->headTitle( $title );

?>

<div class="row">
	<div class="span12">

		<h3><?php echo $title; ?></h3>

		<hr>

<?php
	echo $this->partial(
		'partial/form', 
		array( 
			'form' => $this->form,
			'url' =>  $this->url( 'profile' )
		)
	); 
?>
	</div>
</div>