body {
	padding-top: 60px;
}

.depoimento h4 .btn {
	margin-left: 5px;
}

.clear-both {
	clear: both;
}

.galeria {
	margin: 0;
	padding: 0;
}

.galeria li {
	float: left;
	list-style: none;
	margin-left: 25px;
	margin-bottom: 25px;
	position: relative;
}

.galeria li input {
	position: absolute;
	right: 0px;
	top: 0px;
}