#messages .alert {
	width: 100%;
	background: #fff;
	border-bottom: 4px solid #eaeff3;
	color: #e34848;
	position: fixed;
	top: 0;
	font-size: 14px;
	font-weight: bold;
	border-radius: 0px;
	padding: 10px 0;
	text-align: center;
}

#messages .alert .close {
	top: 0px;
	right: 10px;
}

.login {
	margin-top: 70px;
	position: relative;
	left: -15px;
	 -moz-box-shadow:rgba(0,0,0,0.05) 0 0 30px;
    -webkit-box-shadow:rgba(0,0,0,0.05) 0 0 30px;
    box-shadow:rgba(0,0,0,0.05) 0 0 30px;
}

.login h4 {
	font-size: 20px;
	font-weight: normal;
}

.panel .forgot {
	margin-top: 5px;
	display: block;
}

.panel footer {
	margin-top: 10px
}

footer#main, .h1login {
	text-align: center;
	font-size: 10pt;
}

.panel {
	width: 350px;
	margin: 100px auto 20px;
}