body {
	font-family: 'ralewayregular';
	background: white url(../images/piano.jpg) no-repeat 120% -10%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'ralewaybold';
	font-weight: normal;
	color: #3c3c3c;
}

p {
	color: #3c3c3c;
}

p b {
	font-family: 'ralewaybold';
}

.container {
	-webkit-transition: all 500ms cubic-bezier(0.525, 0, 0.260, 0.995); /* older webkit */
	-webkit-transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); 
	   -moz-transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); 
		 -o-transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); 
			transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); /* custom */
}

.carousel {
    padding: 0px;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
}

.full-line {
	border-bottom: 1px solid #d7d7d7;
	margin-bottom: 25px;
	margin-top: 20px;
}

.full-line h3 {
	text-transform: uppercase;
	font-size: 22px;
}

.full-line .container .pull-left {
	margin-top: 0px;
}

.navbar {
	background: rgba(255,255,255,0.75);
	border: none;
	margin-top: 65px;
	margin-bottom: 75px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.navbar .navbar-nav > li > a {
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'ralewayextrabold';
	color: black;
}

.navbar .navbar-nav > li > a:hover {
	color: #555555;
	background-color: rgba( 255, 255, 255, 0.6 );
}

.navbar .navbar-nav > li.active > a {
	background-color: rgba( 0, 0, 0, 0.05 );
	cursor: default;
}

.navbar .navbar-header {
	position: relative;
}

.navbar .navbar-header .navbar-brand {
	display: block;
	position: absolute;
	width: 209px;
	height: 137px;
	background: url(../images/logo.png) no-repeat center;
	text-indent: -9999em;
	overflow: hidden;
	top: -45px;
}

.depoimento {
	margin-bottom: 10px;
}

.inner .depoimento {
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

.depoimento h4 {
	margin-top: 0px;
	font-size: 20px;
	font-family: 'ralewayregular';
	margin-right: 5%;
}

.depoimento h4 b {
	font-family: 'ralewaybold';
}

.depoimento img {
	margin-top: 15px;
}

.inner .depoimento img {
	margin-top: 0px;
}

.depoimento p {
	font-size: 14px;
	position: relative;
	width: 95%;
	text-align: justify;
	text-justify: initial;
}

.depoimento p span.open-quotes,
.depoimento p span.close-quotes {
	width: 27px;
	height: 15px;
	display: block;
	position: absolute;
	font-size: 72px;
	font-family: 'ralewayregular';
	line-height: 58px;
}

.depoimento p span.open-quotes {
	top: -10px;
	left: -22px;	
}

.depoimento p span.close-quotes {
	bottom: 0px;
	right: -20px;	
}

.galeria {
	margin: 0;
	padding: 0;
}

.galeria li {
	float: left;
	list-style: none;
	margin-left: 25px;
	margin-bottom: 25px;
}

.galeria li a img {
	-webkit-transition: all 300ms cubic-bezier(0.525, 0, 0.260, 0.995); /* older webkit */
	-webkit-transition: all 300ms cubic-bezier(0.525, -0.015, 0.260, 0.995); 
	   -moz-transition: all 300ms cubic-bezier(0.525, -0.015, 0.260, 0.995); 
		 -o-transition: all 300ms cubic-bezier(0.525, -0.015, 0.260, 0.995); 
			transition: all 300ms cubic-bezier(0.525, -0.015, 0.260, 0.995); /* custom */
}

.galeria li a:hover img {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

.novas-musicas {
	margin: 0 0 0 15px;
	padding: 0;
}

.novas-musicas li {
	list-style: none;
	position: relative;
	margin-bottom: 20px;
}

.novas-musicas li a.music-link {
	font-size: 16px;
	font-family: 'ralewaymedium';
	color: #3c3c3c;
}

.novas-musicas li a.music-link .glyphicon {
	font-size: 17px;
	position: relative;
	top: 2px;
}

.novas-musicas li a.btn {
	position: absolute;
	right: 0px;
	top: 0px;
}

.footer {
	background: #ed1d24;
	padding: 40px 0px;
	margin-top: 30px;
	font-size: 12px;
	font-family: Arial;
	position: relative;
}

.footer a.developer {
	position: absolute;
	display: block;
	text-indent: -999em;
	overflow: hidden;
	color: white;
	background: url(../images/g.png) no-repeat center;
	width: 10px;
	height: 11px;
	bottom: 2px;
	right: 2px;
}

.footer p {
	margin: 0px;
	float: left;
	color: white;
}

.footer p .social {
    overflow: hidden;
    display: block;
    margin-bottom: 5px;
}

.footer p .social span {
    float: left;
    list-style: none;
    margin-right: 10px;
}

.footer address {
	margin: 0px;
	float: right;
	color: white;
	text-align: right;
}

.footer address a {
	color: white;
	text-decoration: underline;
}

.white-opaque {
	background-color: rgba( 255, 255, 255, 0.9 );
	padding-top: 10px;
}

.text-page h3 {
	font-size: 22px;
	text-transform: uppercase;
	font-family: 'ralewaysemibold';
}

.clear-both {
	clear: both;
}

.videos {
	margin: 0;
	padding: 0;
}

.videos li {
	float: left;
	list-style: none;
	margin: 0px 10px 10px 0px;
	width: 120px;
	height: 150px;
}

.videos li a span {
	display: block;
	font-size: 12px;
	line-height: 10px;
	text-align: center;
	margin-top: 5px;
}

.profissional h3 {
	margin-top: 0px;
	font-size: 20px;
	font-family: 'ralewaysemibold';
}

.profissional p {
	font-size: 13px;
}

.profissional .glyphicon {
	font-size: 10px;
}

.musicas .row .repertorio {
	
}

.musicas .row .repertorio .thumbnail {
	padding: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}

.musicas .row .repertorio h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 16px;
	font-family: 'ralewaysemibold';
	padding: 7px 10px;
	border-bottom: 1px solid #ddd;
	-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	text-transform: initial;
}

.musicas .row .repertorio p {
	font-size: 13px;
	margin-bottom: 0px;
	color: #555;
}

.musicas .row .repertorio .glyphicon {
	font-size: 11px;
}

.musicas .row .repertorio .btn {
	
}

.musicas h2 {
	margin-top: 0px;
	font-family: 'cac_champagneregular';
	font-size: 55px;
	color: black;
}

.musicas .row {
	margin-bottom: 20px;
}

.musicas .row .musica {
	margin-bottom: 10px;
}

.animated .modal-dialog {
	-webkit-transform: scale(0.8) !important;
	-moz-transform: scale(0.8) !important;
	-ms-transform: scale(0.8) !important;
	-o-transform: scale(0.8) !important;
	transform: scale(0.8) !important;
	
	-webkit-transition: all 300ms cubic-bezier(0.965, 0, 0.135, 1.000); /* older webkit */
	-webkit-transition: all 300ms cubic-bezier(0.965, -0.020, 0.135, 1.000); 
	   -moz-transition: all 300ms cubic-bezier(0.965, -0.020, 0.135, 1.000); 
		 -o-transition: all 300ms cubic-bezier(0.965, -0.020, 0.135, 1.000); 
			transition: all 300ms cubic-bezier(0.965, -0.020, 0.135, 1.000); /* custom */
}

.animated.in .modal-dialog {
	-webkit-transform: scale(1) !important;
	-moz-transform: scale(1) !important;
	-ms-transform: scale(1) !important;
	-o-transform: scale(1) !important;
	transform: scale(1) !important;
}

.popover-content p:last-child {
	margin-bottom: 0px;
}

label.musico {
	margin-left: 0px !important;
	margin-right: 10px;
	display: block;
	float: left;
	width: 30%;
}

.carousel-control {
    opacity: .3;
    filter: alpha(opacity=30);
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%) !important; /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ) !important; /* IE6-9 */

    -webkit-transition: all 500ms cubic-bezier(0.680, 0.005, 0.285, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.680, 0.005, 0.285, 1.005);
    -moz-transition: all 500ms cubic-bezier(0.680, 0.005, 0.285, 1.005);
    -o-transition: all 500ms cubic-bezier(0.680, 0.005, 0.285, 1.005);
    transition: all 500ms cubic-bezier(0.680, 0.005, 0.285, 1.005); /* custom */
}

.carousel-control:hover {
    opacity: .5;
    filter: alpha(opacity=50);
}

.carousel-control.right {
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) !important; /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ) !important; /* IE6-9 */
}

/**
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 AUDIO
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*/

.radio-wrapper {
	width: 40%;
	position: fixed;
	*position: absolute;
	top: -184px;
	left: 50%;
	margin-left: -20%;
	z-index: 10;
	
	-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.0);
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.0);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.0);
	
	-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	
	-webkit-transition: all 500ms cubic-bezier(0.525, 0, 0.260, 0.995); /* older webkit */
	-webkit-transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); 
	   -moz-transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); 
		 -o-transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); 
			transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); /* custom */
}

.radio-wrapper.show {
	top: 0px;
	-webkit-box-shadow: 0px 0px 80px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 80px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 80px rgba(0,0,0,0.3);
}

.radio-wrapper a.toggle {
	display: block;
	position: absolute;
	left: 50%;
	top: 100%;
	margin-left: -40px;
	color: #929292;
	background-color: #FFF;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	width: 80px;
	outline: none;
	z-index: 9;
	
	-webkit-box-shadow: 0px 0px 80px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 80px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 80px rgba(0,0,0,0.3);
	
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	
	-webkit-transition: all 500ms cubic-bezier(0.525, 0, 0.260, 0.995); /* older webkit */
	-webkit-transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); 
	   -moz-transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); 
		 -o-transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); 
			transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); /* custom */
}

.radio-wrapper a.toggle .left-round,
.radio-wrapper a.toggle .right-round {
	position: absolute;
	top: -1px;
	display: block;
	width: 15px;
	height: 15px;
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -999em;
}

.radio-wrapper a.toggle .left-round {
	background-image: url(../images/left-inverted-round.png);
	right: 100%;
}

.radio-wrapper a.toggle .right-round {
	background-image: url(../images/right-inverted-round.png);
	left: 99.9%;
}

.radio-wrapper a.toggle .wrapper {
}

.radio-wrapper a.toggle:hover {
	-webkit-border-radius: 0px 0px 20px 20px;
	-moz-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
	
	-webkit-box-shadow: 0px 0px 80px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 80px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 80px rgba(0,0,0,0.1);
}

.music-radio {
	width: 100%;
	/*height: 20px;*/
	height: 184px;
	overflow: hidden;
	background-color: white;
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	border-radius: 0px 0px 6px 6px;
/*	-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.0);
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.0);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.0);*/
	-webkit-transition: all 500ms cubic-bezier(0.525, 0, 0.260, 0.995); /* older webkit */
	-webkit-transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); 
	   -moz-transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); 
		 -o-transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); 
			transition: all 500ms cubic-bezier(0.525, -0.015, 0.260, 0.995); /* custom */
}

.show .music-radio {
/*	height: 184px;
	-webkit-box-shadow: 0px 0px 80px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 80px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 80px rgba(0,0,0,0.3);*/
}

.music-radio ul {
	margin: 0;
	padding: 0;
	background-color: white;
	height: 150px;
	overflow-Y: scroll;
}

.music-radio .no-music {
	height: 150px;
}

.music-radio ul li {
	list-style: none;
	padding: 5px 10px;
}

.music-radio ul li:last-child {
	border-bottom: none;
}

.music-radio ul li a {
	color: #939393;
	font-size: 13px;
	font-family: 'ralewaybold';
}

.music-radio ul li a .glyphicon {
	color: black;
}

.music-radio ul li a .author {
	font-family: 'ralewayregular';
}

.music-radio ul li.playing a {
	color: #ed1d24;
}

.music-radio .no-music {
	font-size: 16px;
	font-family: 'ralewaybold';
	text-transform: uppercase;
	padding: 10px;
	margin: 0px;
	color: #888;
}

.player audio { position: absolute; left: -1px; }

.player { 
	width: 100%; 
	height: 34px; 
	background: #FFF; 
	overflow: hidden; 
	font-family: monospace; 
	font-size: 12px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	position: relative;
	z-index: 10;
	
	-webkit-box-shadow: 0px 0px 50px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 50px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 50px rgba(0,0,0,0.2);
}

.player .prev, .player .next {
	padding: 8px 0px;
	display: block;
	float: left;
	width: 10%;
	float: left;
	text-align: center;
	color: #777777;
	text-decoration: none;
}

.player .next-prev .next {
	margin-left: 35%;
}

.player .play-pause { 
	width: 10%; 
	height: 40px; 
	padding: 4px 0px; 
	margin: 0px; 
	float: left; 
	overflow: hidden; 
}

.player p { 
	display: none; 
	width: 100%; 
	padding-top: 4px;
	text-align: center;
	margin: 0px; 
	cursor: pointer; 
	color: #777777;
	font-size: 15px;
}

.player .play { 
	display: block; 
}

.player .scrubber { 
	position: relative; 
	float: left; 
	width: 60%; 
	background: #e5e5e5; 
	height: 14px; 
	margin: 10px; 
	border-left: 0px; 
	border-bottom: 0px; 
	overflow: hidden; 
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.player .progress { 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	height: 14px; 	
	width: 0px; 
	background: #555555; 
	z-index: 1; 
}

.player .loaded { 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	height: 14px; 
	width: 0px; 
	background: #cccccc; 
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.player .time {
	
	display: none;
	
	float: left;
	width: 20%;
	height: 36px; 
	line-height: 36px; 
	margin: 0px 0px 0px 6px; 
	padding: 0px 6px 0px 12px; 
	border-left: 1px solid #ddd; 
	color: #222; 
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.9); 
}

.player .time em { padding: 0px 2px 0px 0px; color: #666666; font-style: normal; }
.player .time strong { padding: 0px 0px 0px 2px; font-weight: normal; }

.player .error-message { 
	float: left; 
	display: none; 
	margin: 0px 10px; 
	height: 36px; 
	width: 60%; 
	overflow: hidden; 
	line-height: 36px; 
	white-space: nowrap; 
	color: #red;
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	-icab-text-overflow: ellipsis; 
	-khtml-text-overflow: ellipsis; 
	-moz-text-overflow: ellipsis; 
	-webkit-text-overflow: ellipsis; 
}

.player .error-message a { color: #eee; text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #999; white-space: wrap; }

.playing .play, .playing .loading, .playing .error { display: none; }
.playing .pause { display: block; }

.loading .play, .loading .pause, .loading .error { display: none; }
.loading .loading { display: block; }

.error .time, .error .play, .error .pause, .error .scrubber, .error .loading { display: none; }
.error .error { display: block; }
.error .play-pause p { cursor: auto; }
.error .error-message { display: block; }

/**
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*/

.no-bottom-margin {
	margin-bottom: 0px;
}

div.ui-datepicker{
	font-size:12px;
}

.ui-datepicker td span, .ui-datepicker td a {
	padding-bottom: 0px !important;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {	
	padding: 5px;
}

/**
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 Medias
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*/

@media (max-width: 991px) {
	body {
		background-position: right -20%;
	}
	
	.navbar {
		background-color: white;
		margin: 0px 0px 20px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
	}
	
	.navbar .navbar-header .navbar-brand {
		display: inherit;
		position: inherit;
		width: auto;
		height: auto;
		background: url(../images/logo-mini.png) no-repeat 15px center;
		text-indent: inherit;
		top: auto;
		padding-left: 45px;
		padding-top: 18px;
		font-size: 50px;
		font-family: 'cac_champagneregular', 'ralewaybold';
		color: black;
		text-transform: capitalize;
	}
	
	.navbar .navbar-nav {
		float: none !important;
	}
	
	.radio-wrapper {
		width: 60%;
		margin-left: -30%;
	}
	
	label.musico {
		width: 47%;
	}
}

@media (max-width: 767px) {
	.navbar {
		padding-top: 40px;
	}

	body {
		background-position: right -20%;
	}
	
	.depoimento h4 {
		text-align: center;
		margin-right: 0px;
	}

	.depoimento img {
		margin-top: 0px;
		margin-bottom: 15px
	}

	.depoimento p {
		width: 100%;
	}
	
	.footer address {
		font-size: 16px;
		float: none;
		text-align: center;
	}
	
	.radio-wrapper {
		width: 100%;
		left: 0px;
		margin-left: 0px;
	}
	
	.banner iframe {
		width: 100%;
	}
	
	.radio-wrapper a.toggle {
		margin-left: -55px;
		padding: 12px;
		width: 110px;
	}
	
	.musicas .row .repertorio:not(:last-child) {
		margin-bottom: 15px;
	}
}