<?php

$title = $this->translate( 'Atuação' );
$this->headTitle( $title );

?>

<div class="white-opaque">

<div class="full-line">
	<div class="container">
		<h3 class="pull-left"><?php echo $this->translate('Atuação'); ?></h3>		
	</div>
</div>

<div class="container text-page">
	<?php if( $this->texto ): ?>
	<?php echo $this->texto; ?>
	<?php else: ?>
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">			
			<h3>Casamentos</h3>
			
			<p class="text-justify"><b>Cerimônia Religiosa:</b> Com o repertório e a formação escolhida especialmente pelo casal, a equipe chegará ao local uma hora antes do início da cerimônia para instalação e afinação dos instrumentos e aquecimento vocal no caso de cantores. Com a chegada dos convidados inicia-se a execução das músicas antes do início da cerimônia, seguindo então com as Entradas de Padrinhos, Pais, Damas, Noivo, Noiva, fundo musical para o momento de Troca das Alianças, Perguntas, Benção, Comunhção, Beijo, Assinaturas e o momento da saída.</p>

			<p class="text-justify"><b>Recepção e Jantar / Almoço:</b> Com uma proposta mais descontraída dentro do estilo e formação escolhida pelos noivos, a equipe estará recepcionando aos convidados e segue tocando até o final do jantar/almoço, onde em seguida inicia-se o Baile.</p>

			<p class="text-justify"><b>Valsa dos Noivos:</b> Com um estilo mais clássico e glamuroso, oferecemos a opção de executar a valsa dos noivos.</p>
			
			<p class="text-justify">Sugestões:</p>
			
			<ol>
				<li>Além da valsa ainda sugerimos a dança de outro estilo musical como tango, bolero, entre outros.</li>
				<li>Se o noivo ou a noiva já canta e deseja fazer uma homenagem podemos estar auxiliando na escolha e ensaio da música.</li>
			</ol>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<h3>Bodas</h3>
			
			<p class="text-justify"><b>Cerimônia Religiosa:</b> Esta data é realmente especial, 25, 50 anos de feliz matrimônio merece uma cerimônia linda e com uma trilha sonora especial que traz belas lembraças. O serviço inicia na recepção dos convidados e segue com momento das entradas dos filhos, netos e noivos, fundo musical para troca de alianças, benção, homenagens e termina com a música de saída do casal e demais convidados.</p>
			
			<h3>Eventos Empresariais</h3>
			
			<p class="text-justify"><b>Cerimônia em geral:</b> Inicia-se com a recepção dos convidados ao som de músicas práprias para ocasião, que tem como objetivo deixar mais agradável os momentos que antecedem o início do evento e segue com a Execução do Hino Nacional.</p>
			
			<p class="text-justify"><b>Coquetel / Jantar Comemorativo:</b> Com um repertório bem eclético e que agrade a todos os presentes, a equipe segue executando as músicas no decorrer deste momento festivo.</p>
			
			<h3>Formaturas</h3>
			
			<p class="text-justify"><b>Recepção:</b> Com um agradável fundo musical que inclui musicas de vários estilos, a equipe estará recepcionando aos pais, amigos e convidados antes do início da cerimônia de colação de Grau.</p>
			
			<p class="text-justify"><b>Cerimônia de Colação de Grau:</b> Com música escolhidas pelos organizadores, serão executadas musicas para todos os momentos da solenidade.</p>
		</div>
	</div>
	
	<?php endif; ?>
</div>
	
</div>