<?php

$title = $this->translate( 'Depoimentos' );
$this->headTitle( $title );

?>

<div class="row toolbar">
	<div class="col-lg-12">
		<a href="<?php echo $this->url('depoimento', array('action' => 'save')); ?>" class="btn btn-small btn-primary"><?php echo $this->translate('Adicionar'); ?></a>
		<button class="btn btn-small btn-danger submit-main"><?php echo $this->translate('Remover'); ?></button>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

		<h3><?php echo $this->translate('Depoimentos'); ?></h3>
		
		<form action="<?php echo $this->url('depoimento', array('action' => 'remove')); ?>" method="POST" class="main">
		
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th><input type="checkbox" class="checkall" /></th>
					<th><?php echo $this->translate('Nome'); ?></th>
					<th><?php echo $this->translate('E-mail'); ?></th>
					<th><?php echo $this->translate('Foto'); ?></th>
					<th><?php echo $this->translate('Mensagem'); ?></th>
					<th class="text-center"><?php echo $this->translate('Aprovado'); ?></th>
					<th class="text-center"><?php echo $this->translate('Ações'); ?></th>
				</tr>
			</thead>
			<tbody>
		<?php if( count( $registros ) ): ?>
			<?php foreach( $registros as $registro ): ?>
				<tr>
					<td><input type="checkbox" name="registros[]" value="<?php echo $registro['id']; ?>" class="checkbyall" /></td>
					<td><small><?php echo $registro['nome']; ?></small></td>
					<td><small><?php echo $registro['email']; ?></small></td>
					<td><img src="<?php echo $this->basePath( $registro['foto'] ? 'uploads/depoimentos/thumb_' . $registro['foto'] : 'images/photo.jpg' ); ?>" width="40" alt="" /></td>
					<td><small style="line-height: 12px; display: block;"><?php echo $registro['mensagem']; ?></small></td>
					<td class="text-center"><?php echo $this->partial( 'partial/boolicon.phtml', array( 'status' => $registro['aprovado'] == 1 ? true : false ) ); ?></td>
					<td class="text-center">
						<a href="<?php echo $this->url( 'depoimento', array('action' => 'save', 'id' => $registro['id']) ); ?>" class="btn btn-warning btn-xs">
							<?php echo $this->translate('Editar'); ?>
						</a>
					</td>
				</tr>
			<?php endforeach; ?>
		<?php else: ?>
				<tr>
					<td colspan="8"><?php echo $this->translate('Nenhum depoimento foi encontrado'); ?></td>
				</tr>
		<?php endif; ?>
			</tbody>
		</table>
		
		</form>
		
		<?php echo $this->paginationControl( $registros, 'Sliding', 'partial/paginator/control.phtml' ); ?>
		
	</div>

</div>