<?php

$title = $this->translate( 'Repertório' );
$this->headTitle( $title );

?>

<div class="white-opaque">

<div class="full-line">
	<div class="container">
        <a href="<?php echo $this->basePath( 'uploads/ficha.doc' ); ?>" target="_blank" class="btn btn-xs btn-danger pull-right"><?php echo $this->translate('baixe a ficha de repertório'); ?></a>
		<h3 class="pull-left"><?php echo $this->translate('Repertório'); ?></h3>		
	</div>
</div>

<div class="container text-page musicas">
	
	<?php if( count( $registros ) ): ?>
	
		<?php foreach( $registros as $categoria => $musicas ): ?>

		<h2><?php echo $this->translate( $categoria ); ?></h2>
			
			<?php $counter = 0; ?>
			<?php foreach( $musicas as $musica ): ?>
	
	<?php if( $counter % 4 == 0 ): ?>
	<div class="row">
	<?php endif; ?>
		
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 repertorio">
			<div class="thumbnail">
				<h3><span class="glyphicon glyphicon-music"></span> <?php echo $musica['nome']; ?></h3>
				<div class="caption">
					<a 
						href="javascript:;" 
						data-container="body" 
						data-toggle="popover" 
						data-placement="top"
                        data-trigger="hover"
						data-content='<p><b>Autor:</b> <?php echo $musica['autor']; ?></p><p><b>Tipos:</b> <?php echo $musica['tipo']; ?></p>'
						class="btn btn-default btn-xs html-popover hidden-sm">
						<span class="glyphicon glyphicon-plus"></span>
						<?php echo $this->translate('mais'); ?>
					</a>
					<a href="#" data-src="<?php echo $this->basePath( 'uploads/musicas/' . $musica['caminho'] ); ?>" class="btn btn-primary btn-xs play-radio">
						<span class="glyphicon glyphicon-play-circle"></span>
						<?php echo $this->translate('tocar na rádio'); ?>
					</a>
				</div>
			</div>
		</div>
		
	<?php if( $counter % 4 == 3 || $counter == ( count( $musicas ) - 1 ) ): ?>
	</div>
	<?php endif; ?>
			<?php $counter++; ?>
			<?php endforeach; ?>

		<?php endforeach; ?>
	
	<?php else: ?>
	
	<div class="row">
		<div class="col-lg-12">
			<p class="text-muted"><i><?php echo $this->translate('Nenhuma música foi cadastrada até o momento. Desculpe'); ?></i></p>
		</div>
	</div>
	
	<?php endif; ?>
	
</div>
	
</div>