<?php

$form = $this->form;
$form->setAttribute( 'action', $this->url );
$form->prepare();

echo $this->form()->openTag( $form );

$submit = null;
$reset = null;

foreach( $form as $element ):
	if( $element->getName() == 'reset' || $element->getName() == 'submit' )
	{
		if( $element->getName() == 'reset' )
			$reset = $element;
		
		if( $element->getName() == 'submit' )
			$submit = $element;
		
		continue;
	}
?>

<div class="form-group <?php echo $this->formElementErrors($element) ? 'has-error' : ''; ?>">
	<?php if( $element->getLabel() ): echo $this->formLabel( $element, null ); endif; ?>
	<div class="col-sm-6">
		<?php echo $this->formElement( $element ); ?>
		<?php echo $this->formElementErrors()
						->setMessageOpenFormat('<p class="help-block">')
		                ->setMessageSeparatorString('</p><p class="help-block">')
		                ->setMessageCloseString('</p>')
		                ->render( $element ); ?>
	</div>
</div>

<?php
endforeach;

if( $submit ):
?>

<div class="form-group">
	<div class="col-sm-2"></div>
	<div class="col-sm-10">
		<?php echo $this->formElement( $submit ); ?>
		<?php echo $reset ? $this->formElement( $reset ) : null; ?>
	</div>
</div>

<?php
endif;

echo $this->form()->closeTag();