<ul class="nav navbar-nav navbar-right">
	
	<?php 
		$authService = $this->service()->get('Admin\Service\Auth');
	
		$user = $this->session()->offsetGet( $authService->getSessionName( $authService::NAMESPACE_ADMIN ) ); 
	?>

	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;"><?php echo $this->translate('Bem vindo'); ?>, <?php echo $user->name; ?> <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="<?php echo $this->url('profile'); ?>"><?php echo $this->translate('Modificar meu perfil'); ?></a></li>
		</ul>
	</li>
	<li><a href="<?php echo $this->url('logout'); ?>"><?php echo $this->translate('Logout'); ?></a></li>
	
</ul>