<?php

$title = $this->translate( 'Vídeos' );
$this->headTitle( $title );

?>

<div class="white-opaque">

<div class="full-line">
	<div class="container">
		<a href="http://www.youtube.com/user/catafestame" target="_blank" class="btn btn-xs btn-danger pull-right"><?php echo $this->translate('veja mais vídeos no nosso canal'); ?></a>
		<h3 class="pull-left"><?php echo $this->translate('Vídeos'); ?> <br/>
		<small><?php echo $this->translate('Veja alguns vídeos do nosso trabalho'); ?></small></h3>		
	</div>
</div>

<div class="container fotos">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<?php if( isset( $videos ) && count( $videos ) > 0 ): ?>
			<ul class="videos">
				<?php foreach( $videos as $video ): ?>
				<li>
					<a href="<?php echo $video['url']; ?>" class="fancybox-media" title="<?php echo $video['titulo']; ?>">
						<img src="<?php echo $video['thumbnail']; ?>" alt="<?php echo $video['titulo']; ?>" class="img-rounded" />
						<span><?php echo $video['titulo']; ?></span>
					</a>
				</li>
				<?php endforeach; ?>
			</ul>
			<?php else: ?>
			<div class="jumbotron">
	
				<h1><?php echo $this->translate('Desculpe') ?>!</h1>		
				<h3><?php echo $this->translate('Nenhum vídeo foi encontrado'); ?></h3>

				<br />

				<a class="btn btn-primary btn-lg" role="button" href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Voltar ao início'); ?></a>
			<?php endif; ?>
		</div>
	</div>
</div>
	
</div>