<div class="container">

<div class="jumbotron">

<h1><?php echo $this->translate('Ops! Esta página não existe.') ?></h1>

<?php if( $this->message ): ?>
<h2><?php echo $this->translate( $this->message ); ?></h2>
<?php endif; ?>

<?php if (isset($this->reason) && $this->reason): ?>

<?php
$reasonMessage= '';
switch ($this->reason) {
    case 'error-controller-cannot-dispatch':
        $reasonMessage = $this->translate('O controlador solicitado não foi capaz de despachar o pedido.');
        break;
    case 'error-controller-not-found':
        $reasonMessage = $this->translate('O controlador solicitado não pôde ser mapeado em uma classe existente.');
        break;
    case 'error-controller-invalid':
        $reasonMessage = $this->translate('O controlador solicitado não é válido.');
        break;
    case 'error-router-no-match':
        $reasonMessage = $this->translate('A URL solicitada não pode ser encontrada nas rotas.');
        break;
    default:
        $reasonMessage = $this->translate('Não podemos determinar neste momento por que a página 404 foi gerado.');
        break;
}
?>

<p><?php echo $reasonMessage ?></p>

<?php endif ?>

<?php if (isset($this->controller) && $this->controller): ?>

<dl>
    <dt><?php echo $this->translate('Controlador') ?>:</dt>
    <dd><?php echo $this->escapeHtml($this->controller) ?>
<?php
if (isset($this->controller_class)
    && $this->controller_class
    && $this->controller_class != $this->controller
) {
    echo ' (' . sprintf($this->translate('resolves to %s'), $this->escapeHtml($this->controller_class)) . ')';
}
?>
</dd>
</dl>

<?php endif ?>

<?php if (isset($this->exception) && $this->exception): ?>

<h2><?php echo $this->translate('Exceção') ?>:</h2>

<p><b><?php echo $this->escapeHtml($this->exception->getMessage()) ?></b></p>

<h3><?php echo $this->translate('Caminho') ?>:</h3>

<pre>
<?php echo $this->exception->getTraceAsString() ?>
</pre>

<?php endif ?>

<p><a class="btn btn-primary btn-lg" role="button" href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Voltar ao início'); ?></a></p>

</div>
	
</div>
