<?php

$title = $this->translate( 'Quem Somos' );
$this->headTitle( $title );

?>

<div class="white-opaque">

<div class="full-line">
	<div class="container">
		<h3 class="pull-left"><?php echo $this->translate('Quem Somos'); ?></h3>		
	</div>
</div>

<div class="container text-page">
	<?php if( $this->texto ): ?>
	<?php echo $this->texto; ?>
	<?php else: ?>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">			
			<h3>História</h3>
			
			<p class="text-justify">O Pianista Tiago Catafesta começou a estudar música aos Cinco anos de Idade. Com o incentivo de seus pais, aos nove anos teve sua primeira oportunidade, tocando no casamento de familiares, a partir deste dia então amigos e conhecidos começaram a convidá-lo para tocar em seus casamentos. Foi quando iniciou o desejo de tocar nas cerimônias, abrilhantando com belas melodias esses momentos tão,especiais!</p>

			<p class="text-justify">Desta forma juntamente com seus companheiros músicos por alguns anos tocou em diversos tipos de eventos. No ano de 2005 por sugestão de amigos e parceiros Criou-se a "CATAFESTA Música para Eventos" que vem proporcionando momentos de muita alegria e emoção a todos que apreciam música de qualidade em seus eventos.</p>
			
			<img src="images/quem.jpg" alt="Catafesta" class="img-responsive img-rounded" />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<h3>Empresa</h3>
			
			<p class="text-justify">Somos uma empresa especializada em musicalização de eventos: Casamentos, Formaturas, Bodas, 15 anos, Eventos Empresariais, entre outros. Nossa equipe é formada por músicos de qualidade, integrantes dos principais grupos musicais de Joinville, todos com uma vasta experiência nesse segmento.</p>
			
			<h3>Objetivo</h3>
			
			<p class="text-justify">Fazer do seu evento um momento inesquecível através da música.</p>
			
			<h3>Visão</h3>
			
			<p class="text-justify">Ser referência no mercado como a melhor opção em musicalização para eventos.</p>
			
			<h3>Missão</h3>
			
			<p>Oferecer o melhor serviço de musicalização para eventos, buscando a satisfação de nossos clientes.</p>
		</div>
	</div>
	<?php endif; ?>
</div>
	
</div>