<?php

$title = $this->translate( 'Configurações do sistema' );
$this->headTitle( $title );

?>

<div class="row">
	<div class="col-lg-12">

		<h3><?php echo $title; ?></h3>
		
		<form action="#" method="POST" class="main">
		
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th width="300"><?php echo $this->translate('Nome'); ?></th>
					<th width="300"><?php echo $this->translate('Grupo'); ?></th>
					<th><?php echo $this->translate('Valor'); ?></th>
					<th><?php echo $this->translate('Editar'); ?></th>
				</tr>
			</thead>
			<tbody>
		<?php if( count( $registros ) ): ?>
			<?php foreach( $registros as $registro ): ?>
			<?php
				$value = strip_tags( str_replace( PHP_EOL, '', $registro['value'] ) );
				
				if( strlen( $value ) > 50 )
				{
					$value = substr( $value, 0, strpos( wordwrap( $value, 200 ), "\n" ) ) . '...';
				}
			?>
				<tr>
					<td><?php echo $registro['id']; ?></td>
					<td><?php echo $registro['name']; ?></td>
					<td><?php echo $registro['group']; ?></td>
					<td><?php echo $value; ?></td>
					<td><a href="<?php echo $this->url( 'configuration', array('action' => 'save', 'id' => $registro['id']) ); ?>" class="btn btn-warning btn-xs"><?php echo $this->translate('Editar'); ?></a></td>
				</tr>
			<?php endforeach; ?>
		<?php else: ?>
				<tr>
					<td colspan="8"><?php echo $this->translate('Nenhuma configuração foi encontrada'); ?></td>
				</tr>
		<?php endif; ?>
			</tbody>
		</table>
		
		</form>
		
		<?php echo $this->paginationControl( $registros, 'Sliding', 'partial/paginator/control.phtml' ); ?>
		
	</div>
	
</div>