<?php

$title = $this->translate( 'Recuperar Senha' );
$this->headTitle( $title );

?>

<?php

$form = $this->form;
$form->setAttribute( 'action', $this->url( 'forgot' ) );
$form->prepare();

echo '<div class="panel panel-default">';

echo '<div class="panel-heading"><h3 class="panel-title">' . $this->translate( 'CMS - Recuperar senha' ) . '</h3></div>';

echo '<div class="panel-body">';

echo '<p><small>' . $this->translate( 'Digite seu e-mail, e nós enviaremos uma nova senha pra você.' ) . '</small></p>';

echo $this->form()->openTag( $form );

$submit = null;

foreach( $form as $element ):
	if( $element->getName() == 'submit' ):
		$submit = $element;
		continue;
	endif;
?>

	<?php if( $element->getLabel() ): echo $this->formLabel( $element, null ); endif; ?>
	<?php echo $this->formElement( $element ); ?>

<?php
endforeach;

echo '<footer>';

echo $this->formElement( $submit );

echo '</footer>';

echo $this->form()->closeTag();

echo '</div></div>';

