<?php

$title = $this->translate( 'Login' );
$this->headTitle( $title );

?>

<?php

$form = $this->form;
$form->setAttribute( 'action', $this->url( 'auth' ) );
$form->prepare();

echo '<div class="panel panel-default">';

echo '<div class="panel-heading"><h3 class="panel-title">' . $this->translate( 'Entrar no CMS' ) . '</h3></div>';

echo '<div class="panel-body">';

echo $this->form()->openTag( $form );

$submit = null;

foreach( $form as $element ):
	if( $element->getName() == 'submit' ):
		$submit = $element;
		continue;
	endif;
?>

	<?php if( $element->getLabel() ): echo $this->formLabel( $element, null ); endif; ?>
	<?php echo $this->formElement( $element ); ?>

<?php
endforeach;

echo '<footer>';

echo '<a href="' . $this->url( 'forgot' ) . '" class="forgot pull-left"><i class="icon-question-sign"></i> ' . $this->translate('Esqueceu sua senha?') . '</a>';

echo $this->formElement( $submit );

echo '</footer>';

echo $this->form()->closeTag();

echo '</div>';

echo '</div>';