<?php

$title = $this->translate( 'Banners' );
$this->headTitle( $title );

?>

<div class="row toolbar">
	<div class="col-lg-12">
		<a href="<?php echo $this->url('banners', array('action' => 'save')); ?>" class="btn btn-small btn-primary"><?php echo $this->translate('Adicionar'); ?></a>
		<button class="btn btn-small btn-danger submit-main"><?php echo $this->translate('Remover'); ?></button>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">

		<h3><?php echo $title; ?></h3>
		
		<form action="<?php echo $this->url('banners', array('action' => 'remove')); ?>" method="POST" class="main">
		
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th><input type="checkbox" class="checkall" /></th>
					<th><?php echo $this->translate('Descrição'); ?></th>
					<th><?php echo $this->translate('Imagem'); ?></th>
					<th class="text-center"><?php echo $this->translate('Data final'); ?></th>
					<th><?php echo $this->translate('Editar'); ?></th>
				</tr>
			</thead>
			<tbody>
		<?php if( count( $registros ) ): ?>
			<?php foreach( $registros as $registro ): ?>
				<tr>
					<td><input type="checkbox" name="registros[]" value="<?php echo $registro['id']; ?>" class="checkbyall" /></td>
					<td><?php echo $registro['descricao']; ?></td>
					<td><?php echo $registro['path']; ?></td>
					<td class="text-center">
                        <?php
                            if( !empty( $registro['limite'] ) ):
                                echo $this->dateFormat( new DateTime( $registro['limite'] ), IntlDateFormatter::MEDIUM, IntlDateFormatter::MEDIUM, 'pt_BR' );
                            else:
                                echo '------';
                            endif;
                        ?>
                    </td>
					<td><a href="<?php echo $this->url( 'banners', array('action' => 'save', 'id' => $registro['id']) ); ?>" class="btn btn-warning btn-xs"><?php echo $this->translate('Editar'); ?></a></td>
				</tr>
			<?php endforeach; ?>
		<?php else: ?>
				<tr>
					<td colspan="8"><?php echo $this->translate('Nenhum banner foi encontrado'); ?></td>
				</tr>
		<?php endif; ?>
			</tbody>
		</table>
		
		</form>
		
		<?php echo $this->paginationControl( $registros, 'Sliding', 'partial/paginator/control.phtml' ); ?>
		
	</div>
	
</div>