<?php echo $this->doctype(); ?>

<html lang="pt_BR">
<head>
	<meta charset="utf-8">
	<?php echo $this->headTitle( $this->translate('Catafesta &asymp; Música para Eventos') )->setSeparator(' - ')->setAutoEscape(false) ?>

	<?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
	<?php echo $this->headMeta()->appendName('cache-control', 'no-cache') ?>
	<?php echo $this->headMeta()->appendName('expires', '0') ?>
	<?php echo $this->headMeta()->appendName('robots', 'index, follow') ?>
	<?php echo $this->headMeta()->appendName('description', 'Encontre aqui as melhores músicas para seu evento') ?>
	<?php echo $this->headMeta()->appendName('keywords', 'Música, Casamento, Vocal, Eventos, Instrumental, Catafesta, Tiago') ?>
	<?php echo $this->headMeta()->appendName('publisher', 'Catafesta Música para Eventos') ?>
	<?php echo $this->headMeta()->appendName('copyright', 'Copyright 2014, Gabriel Alan') ?>
	<?php echo $this->headMeta()->appendName('audience', 'ALL') ?>
	<?php echo $this->headMeta()->appendName('rating', 'general') ?>
	<?php echo $this->headMeta()->appendName('classification', 'Music, Services') ?>
	<?php echo $this->headMeta()->appendName('content-language', 'pt_BR') ?>
	<?php //echo $this->headMeta()->appendName('google-site-verification', '5rKl8d8XxQc9wDaZH8SZvTiZz8x3VzmzYfmfCBctLVE') ?>

	<!-- Le styles -->
	<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
					->prependStylesheet($this->basePath() . '/css/style.css')
					->prependStylesheet($this->basePath() . '/js/fancy/jquery.fancybox.css?v=2.1.5')
					->prependStylesheet($this->basePath() . '/css/flick/jquery-ui-1.10.2.custom.min.css')
					->prependStylesheet($this->basePath() . '/fonts/cacchampagne/cacchampagne.css')
					->prependStylesheet($this->basePath() . '/fonts/raleway/raleway.css')
					->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

	<!-- Scripts -->
	<?php echo $this->headScript()->prependFile($this->basePath() . '/js/geral.js')
								  ->prependFile($this->basePath() . '/js/audiojs/audio.min.js')
								  ->prependFile($this->basePath() . '/js/fancy/helpers/jquery.fancybox-media.js?v=1.0.6')
								  ->prependFile($this->basePath() . '/js/fancy/jquery.fancybox.pack.js?v=2.1.5')
								  ->prependFile($this->basePath() . '/js/jquery.masked.js')
								  ->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
								  ->prependFile($this->basePath() . '/js/bootstrap.min.js')
								  ->prependFile($this->basePath() . '/js/jquery-ui-1.10.2.custom.min.js')
								  ->prependFile($this->basePath() . '/js/jquery.js') ?>
</head>
<body>
	
	<div class="radio-wrapper">
		<a href="javascript:;" class="toggle">
			<span class="left-round"></span>
			<span class="right-round"></span>
			<span class="wrapper">
				<span class="glyphicon glyphicon-chevron-down"></span>
				<span class="text"><?php echo $this->translate('Radio'); ?></span>
			</span>
		</a>

		<div class="music-radio">
			<?php if( $this->radio && $this->radio->count() ): ?>
			<ul>
				<?php foreach( $this->radio as $radio_music ): ?>
				<li><a href="#" data-src="<?php echo $this->basePath( 'uploads/musicas/' . $radio_music['caminho'] ); ?>" class="play-radio radio-list"><span class="glyphicon glyphicon-play-circle"></span> <?php echo $radio_music['nome']; ?> - <span class="author"><?php echo $radio_music['autor']; ?></span></a></li>
				<?php endforeach; ?>
			</ul>
			<?php else: ?>
			<p class="no-music"><?php echo $this->translate('Nenhuma música encontrada'); ?></p>
			<?php endif; ?>
			
			<div class="player">
				<audio preload="auto"></audio>
				<div class="play-pause">
					<p class="play"><span class="glyphicon glyphicon-play"></span></p>
					<p class="pause"><span class="glyphicon glyphicon-pause"></p>
					<p class="loading"><span class="glyphicon glyphicon-refresh"></p>
					<p class="error"><span class="glyphicon glyphicon-remove"></p>
				</div>
				<a href="javascript:;" class="prev"><span class="glyphicon glyphicon-backward"></span></a>
				<a href="javascript:;" class="next"><span class="glyphicon glyphicon-forward"></span></a>
				<div class="scrubber">
					<div class="progress"></div>
					<div class="loaded"></div>
				</div>
				<div class="time">
					<em class="played">00:00</em>/<strong class="duration">00:00</strong>
				</div>
				<div class="error-message"></div>
			</div>
		</div>
	</div>
	
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
		
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsepart">
					<span class="sr-only"><?php echo $this->translate('Toggle navigation'); ?></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1 class="hidden-lg hidden-md hidden-xs hidden-sm"><?php echo $this->translate('Catafesta Música para Eventos'); ?></h1>
				<a class="navbar-brand" href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Catafesta'); ?></a>
			</div>

			<div class="collapse navbar-collapse" id="collapsepart">
				<?php 
				$partial = array('partial/menu.phtml', 'application');
				echo $this->navigation('navigation')
						->menu()
						->setPartial($partial)
						->render();
				?>
			</div><!--/.nav-collapse -->
		
		</div>
	</nav>
	
	<div class="container">
		<div id="messages">

		<?php

			$currentMessages = isset( $currentMessages ) ? $currentMessages : array();

			$templates = array(
				'warning'	=> '<div class="alert alert-warning"><a class="close" data-dismiss="alert">×</a><strong>Aviso!</strong> %s</div>',
				'error'		=> '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><strong>Erro!</strong> %s</div>',
				'info'		=> '<div class="alert alert-info"><a class="close" data-dismiss="alert">×</a><strong>Informação!</strong> %s</div>',
				'success'	=> '<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Sucesso!</strong> %s</div>',
			);

			foreach( $this->flashMessenger()->getMessages() as $mensagem )
			{
				echo sprintf( $templates[ 'warning' ], $this->translate( $mensagem ) );
			}

			foreach( $this->flashMessenger()->getErrorMessages() as $mensagem )
			{
				echo sprintf( $templates[ 'error' ], $this->translate( $mensagem ) );
			}

			foreach( $this->flashMessenger()->getInfoMessages() as $mensagem )
			{
				echo sprintf( $templates[ 'info' ], $this->translate( $mensagem ) );
			}

			foreach( $this->flashMessenger()->getSuccessMessages() as $mensagem )
			{
				echo sprintf( $templates[ 'success' ], $this->translate( $mensagem ) );
			}

		?>

		</div>
	</div>

	<?php echo $this->content; ?>		
	
	<div class="footer">		
		<a href="http://www.linkedin.com/in/gabapereira" target="_blank" class="developer">G</a>
		
		<div class="container">
			<p class="hidden-xs">
                <span class="social">
                    <span><a href="https://www.facebook.com/catafestame" target="_blank"><img src="<?php echo $this->basePath( 'images/facebook.png' ); ?>" alt="Facebook" /></a></span>
                    <span><a href="http://www.youtube.com/user/catafestame" target="_blank"><img src="<?php echo $this->basePath( 'images/youtube.png' ); ?>" alt="Youtube" /></a></span>
                </span>
				<?php echo $this->translate('Catafesta - Música para eventos'); ?> - <?php echo date('Y'); ?> <br />
				<?php echo $this->translate('Todos os direitos reservados') ?> &copy;
			</p>

			<address>
				<?php if( $this->endereco ): 
					echo $this->endereco;
				else: ?>
				<a href="https://www.google.com/maps?q=joinville,+Rua+Austerg%C3%ADlio+Menezes&ie=UTF8&hq=joinville,+Rua+Austerg%C3%ADlio+Menezes&t=h&z=16" target="_blank">Rua Austergílio Menezes nº73 - CEP: 89 205330 - Boa vista</a> <br />
				Joinville - Santa Catarina - TEL: (47) 3433-6949 - Cel: (47)9978-8045
				<?php endif; ?>
			</address>
		</div>
	</div>
	
	<?php echo $this->inlineScript() ?>
</body>
</html>					