<?php

$title = $this->translate( 'Profissionais' );
$this->headTitle( $title );

?>

<div class="white-opaque">

<div class="full-line">
	<div class="container">
		<h3 class="pull-left"><?php echo $this->translate('Profissionais'); ?></h3>		
	</div>
</div>

<div class="container">
	
	<?php if( count( $registros ) ): ?>
	
		<?php foreach( $registros as $categoria => $profissas ): ?>

		<h3><?php echo $this->translate( $categoria ); ?></h3>
			
			<?php $counter = 0; ?>
			<?php foreach( $profissas as $registro ): ?>
	
	<?php if( $counter % 4 == 0 ): ?>
	<div class="row">
	<?php endif; ?>
		
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			<div class="thumbnail profissional">
				<div class="caption">
					<h3><?php echo $registro['nome']; ?></h3>
					<?php if( $registro['descricao'] ): ?>
					<p><?php echo $registro['descricao']; ?></p>
					<?php endif; ?>
					<p><span class="glyphicon glyphicon-earphone"></span> <?php echo $registro['telefone']; ?></p>
					<?php if( $registro['email'] || $registro['site'] ): ?>
					<p class="no-bottom-margin">
						<?php if( $registro['email'] ): ?>
						<a href="mailto:<?php echo $registro['email']; ?>" class="btn btn-info btn-xs" target="_blank">
							<span class="glyphicon glyphicon-envelope"></span> mandar e-mail
						</a>
						<?php endif; 
						
						$matches = array();
						$match = preg_match( '/(http[s]?)?(\:)?\/\//i', $registro['site'], $matches );
						
						if( $registro['site'] ):
							$site = $registro['site'];
							
							if( !$match )
							{
								$site = 'http://' . $site;
							}
							else
							{
								$site = str_replace( $matches[0], 'http://', $site );
							}
						?>
						<a href="<?php echo $site; ?>" class="btn btn-danger btn-xs" target="_blank">
							<span class="glyphicon glyphicon-link"></span> ver site
						</a>
						<?php endif; ?>
					</p>
					<?php endif; ?>
				</div>
			</div>
		</div>
		
	<?php if( $counter % 4 == 3 || $counter == ( count( $profissas ) - 1 ) ): ?>
	</div>
	<?php endif; ?>
			<?php $counter++; ?>
			<?php endforeach; ?>

		<?php endforeach; ?>
	
	<?php else: ?>
	
	<div class="row">
		<div class="col-lg-12">
			<p class="text-muted"><i><?php echo $this->translate('Nenhuma música foi cadastrada até o momento. Desculpe'); ?></i></p>
		</div>
	</div>
	
	<?php endif; ?>
	
</div>
	
</div>