<?php if ($this->pageCount > 1): ?>
<div class="text-center">
	<ul class="pagination">
	<?php if($this->current != 1): ?>
		<li><a href="<?= $this->url(null, array('page' => 1), true) ?>">&larr;</a></li>
	<?php endif;?>

	<!-- Previous page link -->
	<?php if (isset($this->previous)): ?>
		<li class="previous"><a href="<?= $this->url(null, array('page' => $this->previous), true) ?>">&laquo;</a></li>
	<?php endif; ?>

	<!-- Numbered page links -->
	<?php foreach ($this->pagesInRange as $page): ?>
		<?php if ($page != $this->current): ?>
		<li><a href="<?= $this->url(null, array('page' => $page), true) ?>"><?php echo $page; ?></a></li>
		<?php else: ?>
		<li class="disabled"><a href="javascript:;"><?php echo $page; ?></a></li>
		<?php endif; ?>
	<?php endforeach; ?>
	<!-- Next page link -->

	<?php if (isset($this->next)): ?>
		<li class="next"><a href="<?= $this->url(null, array('page' => $this->next), true) ?>">&raquo;</a></li>
	<?php endif; ?>

	<?php if($this->current != $this->pageCount): ?>
		<li><a href="<?= $this->url(null, array('page' => $this->pageCount), true) ?>">&rarr;</a></li>
	<?php endif;?>

		<li>
			<span class="text-info">
				<?php echo $this->current;?> de <?php echo $this->pageCount;?>
			</span>
		</li>
	
	</ul>
</div>
<?php endif; ?>