<?php

$title = $this->translate( 'Adicionar imagens' );
$this->headTitle( $title );

?>

<div class="row">
	<div class="span12">

		<h3><?php echo $title; ?> <a href="<?php echo $this->url('foto'); ?>" class="btn btn-mini btn-info"><?php echo $this->translate('Voltar'); ?></a></h3>

		<hr>
		
		<div id="uploader">Seu navegador não possui suporte à tecnologia HTML5. Tente Firefox ou Google Chrome por favor.</div>
		
		<script type="text/javascript">
			$(document).ready(
				function( event )
				{
					$("#uploader").pluploadQueue({
						runtimes	: 'html5,flash,silverlight,html4',
						url			: "<?php echo $this->url( 'foto', array( 'action' => 'upload' ) ); ?>",

						//chunk_size		: '1mb',
						rename			: true,
						dragdrop		: true,
						unique_names	: true,
						file_data_name	: 'image',
						multipart		: true,
						multiple_queues : true,
						preinit			: parseResponse,

						filters : {
							// Maximum file size
							max_file_size : '10mb',
							// Specify what files to browse for
							mime_types: 
							[
								{
									title : "Image files", extensions : "jpg,gif,png"
								}
							]
						},
						flash_swf_url		: '<?php echo $this->basePath( '/js/plupload-2.1.1/Moxie.swf' ); ?>',
						silverlight_xap_url : '<?php echo $this->basePath( '/js/plupload-2.1.1/Moxie.xap' ); ?>'
					});
					
					/*$("#html5_uploader").pluploadQueue({
						runtimes		: 'html5',
						url				: '<?php echo $this->url( 'foto', array( 'action' => 'upload' ) ); ?>',
						max_file_size	: '4mb',
						chunk_size		: '1mb',
						unique_names	: true,
						file_data_name	: 'image',
						multipart		: true,
						multiple_queues : true,

						// Specify what files to browse for
						filters : [
							{title : "Imagens", extensions : "jpg,gif,png"}
						],
								
						//flash_swf_url : '<?php echo $this->basePath( '/js/plupload/plupload.flash.swf' ); ?>'
					});*/
				}
			);
			
			function parseResponse( Uploader ) 
			{
				Uploader.bind(
					'FileUploaded', 
					function(Up, File, Response) 
					{
						var obj = eval('(' + Response.response + ')'); // JSON Parsed
						// check for server-side error

						if( typeof( obj.result ) == 'undefined' || obj.result == 'false' || obj.result == 0 )  
						{
							Up.trigger( "Error", { message : obj.message, code : obj.code, file: File } );
							// return false so pluploadQueue handlers do not receive
							// FileUploaded but instead receive only the error
							// we have raised - so it will flag file as failed rather
							// than successful
							return false; // stop propagation
						}
					}
				);
				
				Uploader.bind(
					'Error', 
					function(Up, ErrorObj) 
					{
						console.info('Erro: ' + ErrorObj.message);
					}
				);
			}
		</script>
		
	</div>
</div>