<?php

$title = $this->translate( 'Fotos' );
$this->headTitle( $title );

?>

<div class="row toolbar">
	<div class="col-lg-12">
		<a href="<?php echo $this->url('foto', array('action' => 'add')); ?>" class="btn btn-small btn-primary"><?php echo $this->translate('Adicionar'); ?></a>
		<button class="btn btn-small btn-danger submit-main"><?php echo $this->translate('Remover'); ?></button>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">

		<h3><?php echo $title; ?></h3>
		
		<form action="<?php echo $this->url('foto', array('action' => 'remove')); ?>" method="POST" class="main">
		
		<?php if( count( $registros ) ): ?>
			<ul class="galeria">
			<?php foreach( $registros as $registro ): ?>
				<li>
					<input type="checkbox" name="registros[]" value="<?php echo $registro['id']; ?>" />
					<a href="<?php echo $this->basePath( 'uploads/fotos/' . $registro['path'] ); ?>" rel="galeria" class="fancybox">
						<img src="<?php echo $this->basePath( 'uploads/fotos/thumb_' . $registro['path'] ); ?>" alt="" width="65" class="img-circle" />
					</a>
				</li>
			<?php endforeach; ?>
			</ul>
		<?php else: ?>
			<p class="text-muted"><i><?php echo $this->translate('Nenhuma imagem foi encontrada'); ?></i></p>
		<?php endif; ?>
			
		<div class="text-center clear-both">
		<?php echo $this->paginationControl( $registros, 'Sliding', 'partial/paginator/control.phtml' ); ?>
		</div>
		
	</div>
	
</div>