<meta charset="utf-8">

<div style="background-color: #eeeeee; width: 100%; height: 100%; padding: 25px 0 40px 0;">

<div style="font-family: Helvetica, Arial; font-size: 12px; background-color: white; width: 750px; margin: 0 auto; padding: 15px 25px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border-top: 2px solid #48afff; border-bottom: 2px solid #ffe075;">
	
	<h3><?php echo $this->translate('Olá') . ' ' . $this->escapeHtml($user->name); ?></h3>
	
	<p><?php echo $this->translate('Sua conta foi criada com sucesso no sistema. Para utilizá-la, acesse ' . $this->escapeHtml( $siteUrl ) . ' informando as seguintes credenciais:'); ?></p>
	
	<p>
		<b><?php echo $this->translate('Usuário'); ?>:</b> <?php echo $this->escapeHtml($user->username); ?><br />
		<b><?php echo $this->translate('Senha'); ?>:</b> <?php echo $this->escapeHtml($password); ?>
	</p>
	
	<p><?php echo $this->translate('Se precisar de auxílio, entre em contato com nosso suporte através do e-mail ') . ': ' . $this->escapeHtml($emailSupport); ?></p>
	
	<p><?php echo $this->translate('Atenciosamente'); ?>,</p>
	
	<p><?php echo $this->escapeHtml( $siteName ); ?></p>
	
</div>
<div style="font-size: 11px; color: #bbbbbb; font-family: Helvetica, Arial; width: 750px; margin: 0 auto; text-align: center; text-shadow: 1px 1px 0 white;">
	<p>
		Este e-mail foi enviado automaticamente pelo sistema de administração, por favor não responda.<br>
		<?php echo $this->escapeHtml( $siteName ) . ', ' . date('Y') . '. ' . $this->translate('Todos os direitos reservados'); ?>.
	</p>
</div>
</div>