<?php

$title = $this->translate( 'Enviar depoimento' );
$this->headTitle( $title );

$this->headScript()->appendFile( $this->basePath( '/js/ckeditor/ckeditor.js' ) );

?>

<script type="text/javascript">
	$(document).ready( onReady );
	
	function onReady()
	{
		var config = {};
		
		config.toolbar = [
			{ name: 'basicstyles', items : [ 'Bold','Italic','Underline','Strike','Subscript','Superscript','-','RemoveFormat' ] },
			{ name: 'clipboard',   items : [ 'Cut','Copy','Paste','PasteText','PasteFromWord','-','Undo','Redo' ] },
			{ name: 'editing',     items : [ 'Find','Replace','-','SelectAll','-','SpellChecker', 'Scayt' ] }
		];
		
		//config.uiColor = '#cfecff';
		
		CKEDITOR.disableAutoInline = true;
		CKEDITOR.replace( 'mensagem', config );	
	}
</script>

<div class="white-opaque">

<div class="full-line">
	<div class="container">
		<h3 class="pull-left">
			<?php echo $this->translate('Enviar depoimento'); ?> <br />
			<small><?php echo $this->translate('O depoimento será enviado para aprovação'); ?></small>
		</h3>		
	</div>
</div>

<div class="container inner">
	<div class="row">
		<div class="col-lg-12">
	<?php
		echo $this->partial(
			'partial/form', 
			array( 
				'form' => $this->form,
				'url' =>  $this->url( 'depoimentos', array( 'action' => 'enviar' ) )
			)
		); 
	?>
		</div>
	</div>
</div>
	
</div>