<?php

$title = $this->translate( 'Depoimentos' );
$this->headTitle( $title );

?>

<div class="white-opaque">

<div class="full-line">
	<div class="container">
		<a href="<?php echo $this->url( 'depoimentos', array( 'action' => 'enviar' ) ); ?>" class="btn btn-xs btn-info pull-right">
			<?php echo $this->translate('Fazer um depoimento'); ?>
		</a>

		<h3 class="pull-left">
			<?php echo $this->translate('Depoimentos'); ?>
		</h3>		
	</div>
</div>

<div class="container inner">
	<?php if( count( $registros ) ): ?>
		<?php echo $this->partial( 'partial/depoimentos.phtml', array( 'registros' => $registros, 'model' => $model, 'gateway' => $gateway ) ); ?>
	<?php else: ?>
		<p class="text-muted"><i><?php echo $this->translate('Nenhum depoimento encontrado, desculpe'); ?></i></p>
	<?php endif; ?>
			
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="text-center clear-both">
				<?php echo $this->paginationControl( $registros, 'Sliding', 'partial/paginator/control.phtml' ); ?>
			</div>
		</div>
	</div>
</div>
	
</div>