<?php

$title = $this->translate( 'Orçamento' );
$this->headTitle( $title );

$form = $this->form;
$form->setAttribute( 'action', $this->url( 'contato' ) );
$form->prepare();

$nome		= $form->get('nome');
$email		= $form->get('email');
$telefone	= $form->get('telefone');
$cidade		= $form->get('cidade');
$local		= $form->get('local');
$data		= $form->get('data');
$horario	= $form->get('horario');
$tipo		= $form->get('tipo');
$conheceu	= $form->get('conheceu');
$mensagem	= $form->get('mensagem');
$formacao	= $form->has('formacao') ? $form->get('formacao') : null;

?>

<div class="white-opaque">

<div class="full-line">
	<div class="container">
		<h3 class="pull-left"><?php echo $title; ?> <br/></h3>
	</div>
</div>

<div class="container contato">
	
	<?php echo $this->form()->openTag( $form ); ?>
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">	
			<div class="form-group <?php echo $this->formElementErrors($nome) ? 'has-error' : ''; ?>">
				<?php if( $nome->getLabel() ): echo $this->formLabel( $nome, null ); endif; ?>
				
					<?php echo $this->formElement( $nome ); ?>
					<?php echo $this->formElementErrors()
									->setMessageOpenFormat('<p class="help-block">')
									->setMessageSeparatorString('</p><p class="help-block">')
									->setMessageCloseString('</p>')
									->render( $nome ); ?>
				
			</div>
			
			<div class="form-group <?php echo $this->formElementErrors($email) ? 'has-error' : ''; ?>">
				<?php if( $email->getLabel() ): echo $this->formLabel( $email, null ); endif; ?>
				
					<?php echo $this->formElement( $email ); ?>
					<?php echo $this->formElementErrors()
									->setMessageOpenFormat('<p class="help-block">')
									->setMessageSeparatorString('</p><p class="help-block">')
									->setMessageCloseString('</p>')
									->render( $email ); ?>
				
			</div>
			
			<div class="form-group <?php echo $this->formElementErrors($telefone) ? 'has-error' : ''; ?>">
				<?php if( $telefone->getLabel() ): echo $this->formLabel( $telefone, null ); endif; ?>
				
					<?php echo $this->formElement( $telefone ); ?>
					<?php echo $this->formElementErrors()
									->setMessageOpenFormat('<p class="help-block">')
									->setMessageSeparatorString('</p><p class="help-block">')
									->setMessageCloseString('</p>')
									->render( $telefone ); ?>
				
			</div>
			
			<div class="form-group <?php echo $this->formElementErrors($cidade) ? 'has-error' : ''; ?>">
				<?php if( $cidade->getLabel() ): echo $this->formLabel( $cidade, null ); endif; ?>
				
					<?php echo $this->formElement( $cidade ); ?>
					<?php echo $this->formElementErrors()
									->setMessageOpenFormat('<p class="help-block">')
									->setMessageSeparatorString('</p><p class="help-block">')
									->setMessageCloseString('</p>')
									->render( $cidade ); ?>
				
			</div>
			
			<div class="form-group <?php echo $this->formElementErrors($local) ? 'has-error' : ''; ?>">
				<?php if( $local->getLabel() ): echo $this->formLabel( $local, null ); endif; ?>
				
					<?php echo $this->formElement( $local ); ?>
					<?php echo $this->formElementErrors()
									->setMessageOpenFormat('<p class="help-block">')
									->setMessageSeparatorString('</p><p class="help-block">')
									->setMessageCloseString('</p>')
									->render( $local ); ?>
				
			</div>
			
			<div class="row">
			
				<div class="col-lg-3 col-md-3 col-sm-5 col-xs-6">
					<div class="form-group <?php echo $this->formElementErrors($data) ? 'has-error' : ''; ?>">
						<?php if( $data->getLabel() ): echo $this->formLabel( $data, null ); endif; ?>

							<?php echo $this->formElement( $data ); ?>
							<?php echo $this->formElementErrors()
											->setMessageOpenFormat('<p class="help-block">')
											->setMessageSeparatorString('</p><p class="help-block">')
											->setMessageCloseString('</p>')
											->render( $data ); ?>

					</div>
				</div>
			
				<div class="col-lg-9 col-md-9 col-sm-7 col-xs-6">
					<div class="form-group <?php echo $this->formElementErrors($tipo) ? 'has-error' : ''; ?>">
						<?php if( $tipo->getLabel() ): echo $this->formLabel( $tipo, null ); endif; ?>

							<?php echo $this->formElement( $tipo ); ?>
							<?php echo $this->formElementErrors()
											->setMessageOpenFormat('<p class="help-block">')
											->setMessageSeparatorString('</p><p class="help-block">')
											->setMessageCloseString('</p>')
											->render( $tipo ); ?>

					</div>
				</div>
				
			</div>
			
			<?php /*<div class="form-group">
				<label for="nome"><?php echo $this->translate('Nome'); ?></label>
				<input type="text" class="form-control" id="nome" placeholder="João da Silva" />
			</div>
			<div class="form-group">
				<label for="email"><?php echo $this->translate('E-mail'); ?></label>
				<input type="text" class="form-control" id="email" placeholder="joao@exemplo.com" />
			</div>
			<div class="form-group">
				<label for="fone"><?php echo $this->translate('Telefone'); ?></label>
				<input type="text" class="form-control phone" id="fone" placeholder="(47) 3345-3456" />
			</div>
			<div class="form-group">
				<label for="cidade"><?php echo $this->translate('Cidade'); ?></label>
				<input type="text" class="form-control" id="cidade" placeholder="Joinville SC" />
			</div>
			<div class="form-group">
				<label for="local"><?php echo $this->translate('Local do evento'); ?></label>
				<input type="text" class="form-control" id="local" placeholder="Igreja" />
			</div>
			<div class="form-group">
				<label for="data"><?php echo $this->translate('Data'); ?></label>
				<input type="text" class="form-control date" id="data" placeholder="99/99/9999" />
			</div>*/ ?>
		</div>
		
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">	
			
			<div class="row">
			
				<div class="col-lg-3 col-md-3 col-sm-5 col-xs-6">
					<div class="form-group <?php echo $this->formElementErrors($horario) ? 'has-error' : ''; ?>">
						<?php if( $horario->getLabel() ): echo $this->formLabel( $horario, null ); endif; ?>

							<?php echo $this->formElement( $horario ); ?>
							<?php echo $this->formElementErrors()
											->setMessageOpenFormat('<p class="help-block">')
											->setMessageSeparatorString('</p><p class="help-block">')
											->setMessageCloseString('</p>')
											->render( $horario ); ?>

					</div>
				</div>
			
				<div class="col-lg-9 col-md-9 col-sm-7 col-xs-6">
					<div class="form-group <?php echo $this->formElementErrors($conheceu) ? 'has-error' : ''; ?>">
						<?php if( $conheceu->getLabel() ): echo $this->formLabel( $conheceu, null ); endif; ?>

							<?php echo $this->formElement( $conheceu ); ?>
							<?php echo $this->formElementErrors()
											->setMessageOpenFormat('<p class="help-block">')
											->setMessageSeparatorString('</p><p class="help-block">')
											->setMessageCloseString('</p>')
											->render( $conheceu ); ?>

					</div>
				</div>
				
			</div>
			
			<div class="form-group <?php echo $this->formElementErrors($mensagem) ? 'has-error' : ''; ?>">
				<?php if( $mensagem->getLabel() ): echo $this->formLabel( $mensagem, null ); endif; ?>
				
					<?php echo $this->formElement( $mensagem ); ?>
					<?php echo $this->formElementErrors()
									->setMessageOpenFormat('<p class="help-block">')
									->setMessageSeparatorString('</p><p class="help-block">')
									->setMessageCloseString('</p>')
									->render( $mensagem ); ?>
				
			</div>
			
			<?php if( $formacao ): ?>
			<div class="form-group <?php echo $this->formElementErrors($formacao) ? 'has-error' : ''; ?>">
				<?php if( $formacao->getLabel() ): echo $this->formLabel( $formacao, null ); endif; ?>
				<div class="row">
					<div class="col-lg-12">
					<?php echo $this->formMultiCheckbox( $formacao ); ?>
					<?php echo $this->formElementErrors()
									->setMessageOpenFormat('<p class="help-block">')
									->setMessageSeparatorString('</p><p class="help-block">')
									->setMessageCloseString('</p>')
									->render( $formacao ); ?>
					</div>
				</div>
			</div>
			<?php endif; ?>
			
			<?php /*<div class="form-group">
				<label for="hora"><?php echo $this->translate('Horário'); ?></label>
				<input type="text" class="form-control hour" id="hora" placeholder="99:99" />
			</div>
			<div class="form-group">
				<label for="mensagem"><?php echo $this->translate('Mensagem'); ?></label>
				<textarea class="form-control" rows="6" placeholder="Mensagem" name="mensagem"></textarea>
			</div>
			<div class="form-group">
				<label for="hora"><?php echo $this->translate('Escolha a formação'); ?></label>
				
				<div class="row">
					<div class="col-lg-4 col-md-5 col-xs-6">
						<label class="checkbox-inline"><input type="checkbox" value="1" name="formacao[]" /> Vozes Masculinas</label>
					</div>
					<div class="col-lg-4 col-md-5 col-xs-6">
						<label class="checkbox-inline"><input type="checkbox" value="1" name="formacao[]" /> Vozes Masculinas</label>
					</div>
					<div class="col-lg-4 col-md-5 col-xs-6">
						<label class="checkbox-inline"><input type="checkbox" value="1" name="formacao[]" /> Vozes Masculinas</label>
					</div>
					<div class="col-lg-4 col-md-5 col-xs-6">
						<label class="checkbox-inline"><input type="checkbox" value="1" name="formacao[]" /> Vozes Masculinas</label>
					</div>
					<div class="col-lg-4 col-md-5 col-xs-6">
						<label class="checkbox-inline"><input type="checkbox" value="1" name="formacao[]" /> Vozes Masculinas</label>
					</div>
					<div class="col-lg-4 col-md-5 col-xs-6">
						<label class="checkbox-inline"><input type="checkbox" value="1" name="formacao[]" /> Vozes Masculinas</label>
					</div>
					<div class="col-lg-4 col-md-5 col-xs-6">
						<label class="checkbox-inline"><input type="checkbox" value="1" name="formacao[]" /> Vozes Masculinas</label>
					</div>
					<div class="col-lg-4 col-md-5 col-xs-6">
						<label class="checkbox-inline"><input type="checkbox" value="1" name="formacao[]" /> Vozes Masculinas</label>
					</div>
					<div class="col-lg-4 col-md-5 col-xs-6">
						<label class="checkbox-inline"><input type="checkbox" value="1" name="formacao[]" /> Vozes Masculinas</label>
					</div>
					<div class="col-lg-4 col-md-5 col-xs-6">
						<label class="checkbox-inline"><input type="checkbox" value="1" name="formacao[]" /> Vozes Masculinas</label>
					</div>
					<div class="col-lg-4 col-md-5 col-xs-6">
						<label class="checkbox-inline"><input type="checkbox" value="1" name="formacao[]" /> Vozes Masculinas</label>
					</div>
					<div class="col-lg-4 col-md-5 col-xs-6">
						<label class="checkbox-inline"><input type="checkbox" value="1" name="formacao[]" /> Vozes Masculinas</label>
					</div>
				</div>
			</div>*/ ?>
			
			<div class="form-group">
				<button type="submit" class="btn btn-block btn-lg btn-primary"><?php echo $this->translate('Enviar'); ?></button>
			</div>
		</div>
	</div>
		
	<?php echo $this->form()->closeTag(); ?>
		
</div>
	
<div class="full-line">
	<div class="container">
		<h3 class="pull-left"><?php echo $this->translate('Onde nos encontrar'); ?> <br/></h3>
	</div>
</div>
	
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=catafesta+m%C3%BAsica+para+eventos&amp;aq=&amp;sll=-26.305023,-48.849143&amp;sspn=0.912235,1.454315&amp;ie=UTF8&amp;hq=catafesta+m%C3%BAsica+para+eventos&amp;hnear=&amp;ll=-26.306832,-48.82946&amp;spn=0.003563,0.005681&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=7166892540946959112&amp;output=embed"></iframe>
		</div>
	</div>
</div>
	
</div>