<?php

$title = $this->translate( 'Home' );
$this->headTitle( $title );

$this->plugin("dateFormat")->setTimezone("America/Sao_Paulo")->setLocale("pt_BR"); 
$this->plugin("currencyformat")->setCurrencyCode("BRL")->setLocale("pt_BR");

?>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		
		<h2>
			<img src="images/favicon.ico" alt="CMS" width="16" height="16" />
			<?php echo $this->translate('Bem vindo ao'); ?> <b class="text-primary">CMS</b>
		</h2>
		
		<hr />
		
		<h3 class="text-center">
			<?php echo $this->translate('Depoimentos pendentes'); ?> <br />
			<small><?php echo $this->translate('Aprove os depoimentos para que possam ser visualizados no site'); ?></small>
		</h3>

		<?php 
			if( count( $depoimentos ) ):
			
				foreach( $depoimentos as $registro ):
		?>
				<hr />
				
				<div class="row depoimento">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
						<img src="<?php echo $registro['foto'] ? 'uploads/depoimentos/thumb_' . $registro['foto'] : 'images/photo.jpg'; ?>" alt="" class="img-circle" />
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
						<h4>
							De <b class="text-primary"><?php echo $registro['nome']; ?></b>
							<small><?php echo $registro['email']; ?></small>
							<a href="<?php echo $this->url( 'depoimento', array( 'action' => 'status', 'id' => $registro['id'], 'value' => 0 ) ); ?>" class="btn btn-danger btn-xs pull-right"><?php echo $this->translate('Reprovar'); ?></a>
							<a href="<?php echo $this->url( 'depoimento', array( 'action' => 'status', 'id' => $registro['id'], 'value' => 1 ) ); ?>" class="btn btn-warning btn-xs pull-right"><?php echo $this->translate('Aprovar'); ?></a>
						</h4>

						<p>
							<?php echo $registro['mensagem']; ?>
						</p>
					</div>
				</div>
		<?php 
				endforeach; 
		?>
			
		<?php else: ?>
				
				<hr />
				
				<h4 class="text-center text-muted"><i><?php echo $this->translate('Nenhum depoimento pendente encontrado'); ?></i></h4>
				
		<?php endif; ?>

	</div>	
</div>