<meta charset="utf-8">

<div style="background-color: #eeeeee; width: 100%; height: 100%; padding: 25px 0 40px 0;">

<div style="font-family: Helvetica, Arial; font-size: 14px; background-color: white; width: 750px; margin: 0 auto; padding: 15px 25px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border-top: 2px solid #48afff; border-bottom: 2px solid #ffe075;">
	
	<h3><?php echo $this->translate('Olá'); ?></h3>
	
	<p><?php echo $this->translate('Um cliente usou o formulário de contato do site, e aqui está a mensagem dele:'); ?></p>
	
	<p>
		<b><?php echo $this->translate('Nome'); ?>:</b> <?php echo $this->escapeHtml($nome); ?><br />
		<b><?php echo $this->translate('E-mail'); ?>:</b> <?php echo $this->escapeHtml($email); ?><br />
		<b><?php echo $this->translate('Como nos conheceu'); ?>:</b> <?php echo $this->escapeHtml($conheceu); ?><br />
		<b><?php echo $this->translate('Telefone'); ?>:</b> <?php echo $this->escapeHtml($telefone); ?><br />
		<b><?php echo $this->translate('Cidade'); ?>:</b> <?php echo $this->escapeHtml($cidade); ?><br />
		<b><?php echo $this->translate('Local'); ?>:</b> <?php echo $this->escapeHtml($local); ?><br />
		<b><?php echo $this->translate('Tipo do local'); ?>:</b> <?php echo $this->escapeHtml($tipo); ?><br />
		<b><?php echo $this->translate('Data'); ?>:</b> <?php echo $this->escapeHtml($data); ?><br />
		<b><?php echo $this->translate('Horário'); ?>:</b> <?php echo $this->escapeHtml($horario); ?><br />
	</p>
	
	<?php if( is_array( $formacao ) && count( $formacao ) ): ?>
	<p>
		<b><?php echo $this->translate('Formação escolhida'); ?>: </b><br />
		<ul>
		<?php foreach( $formacao as $musico ): ?>
			<li><b><?php echo $this->escapeHtml( $musico ); ?></b></li>
		<?php endforeach; ?>
		</ul>
	</p>
	<?php endif; ?>
	
	<p><b><?php echo $this->translate('Mensagem'); ?>:</b> <?php echo $this->escapeHtml($mensagem); ?></p>
	
</div>
<div style="font-size: 11px; color: #bbbbbb; font-family: Helvetica, Arial; width: 750px; margin: 0 auto; text-align: center; text-shadow: 1px 1px 0 white;">
	<p>
		Este e-mail foi enviado automaticamente pelo sistema de administração, por favor não responda.<br>
		<?php echo $this->escapeHtml( $siteName ) . ', ' . date('Y') . '. ' . $this->translate('Todos os direitos reservados'); ?>.
	</p>
</div>
</div>