<?php

$title = $this->translate( 'Home' );
$this->headTitle( $title );

$this->plugin("dateFormat")->setTimezone("America/Sao_Paulo")->setLocale("pt_BR"); 
$this->plugin("currencyformat")->setCurrencyCode("BRL")->setLocale("pt_BR");

?>

<?php /*<div class="banner text-center">
	<!-- &amp;autoplay=1 -->
	<iframe src="http://player.vimeo.com/video/35374042?title=0&amp;byline=0&amp;portrait=0&amp;color=000000" width="90%" height="375" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
</div>*/ ?>

<div id="carousel" class="container carousel slide" data-ride="carousel">
    <?php if( $banners->count() > 1 ): ?>
    <ol class="carousel-indicators">
        <?php for( $cont = 0; $cont <= ( $banners->count() - 1 ); $cont++ ): ?>
            <li data-target="#carousel" data-slide-to="<?php echo $cont; ?>" class="<?php echo $cont == 0 ? 'active' : ''; ?>"></li>
        <?php endfor; ?>
    </ol>
    <?php endif; ?>

    <div class="carousel-inner">
        <?php foreach( $banners as $indice => $banner ): ?>
            <div class="item <?php echo $indice == 0 ? 'active' : ''; ?>">
                <img src="<?php echo $this->basePath( 'uploads/banners/banner_' . $banner['path'] ); ?>" alt="banner" class="img-responsive" />
            </div>
        <?php endforeach; ?>
    </div>

    <a class="left carousel-control" href="#carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<?php if( count( $depoimentos ) ): ?>

<div class="full-line">
	<div class="container">
		<a href="<?php echo $this->url('depoimentos'); ?>" class="btn btn-xs btn-danger pull-right"><?php echo $this->translate('ver mais'); ?></a>
		<h3 class="pull-left"><?php echo $this->translate('Depoimentos'); ?></h3>		
	</div>
</div>

<div class="container">
	<?php echo $this->partial( 'partial/depoimentos.phtml', array( 'registros' => $depoimentos ) ); ?>
</div>

<?php endif; ?>

<div class="full-line">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<a href="<?php echo $this->url('fotos'); ?>" class="btn btn-xs btn-danger pull-right"><?php echo $this->translate('ver mais'); ?></a>
				<h3 class="pull-left"><?php echo $this->translate('Últimas Fotos'); ?></h3>
			</div>
			
			<?php if( count( $musicas ) ): ?>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs">
				<a href="<?php echo $this->url('repertorio'); ?>" class="btn btn-xs btn-danger pull-right"><?php echo $this->translate('ver mais'); ?></a>
				<h3 class="pull-left"><?php echo $this->translate('Músicas'); ?></h3>
			</div>
			<?php endif; ?>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<?php if( count( $fotos ) ): ?>
			<ul class="galeria">
				<?php foreach( $fotos as $foto ): ?>
					<li>
						<a href="<?php echo $this->basePath( 'uploads/fotos/' . $foto['path'] ); ?>" rel="galeria" class="fancybox">
							<img src="<?php echo $this->basePath( 'uploads/fotos/thumb_' . $foto['path'] ); ?>" alt="" width="65" class="img-circle" />
						</a>
					</li>
				<?php endforeach; ?>
			</ul>
			<?php else: ?>
			<p class="text-muted"><i><?php echo $this->translate('Nenhuma foto foi cadastrada até o momento'); ?>.</i></p>
			<?php endif; ?>
		</div>
		
		<?php if( count( $musicas ) ): ?>
		<div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
			<ul class="novas-musicas">
				<?php foreach( $musicas as $musica ): ?>
				<li>
					<a href="<?php echo $this->url('repertorio'); ?>" class="music-link"><span class="glyphicon glyphicon-play-circle"></span> <?php echo $musica['nome']; ?></a>
					<a href="#" data-src="<?php echo $this->basePath( 'uploads/musicas/' . $musica['caminho'] ); ?>" class="btn btn-default btn-xs pull-right play-radio"><?php echo $this->translate('tocar na rádio'); ?></a>
				</li>
				<?php endforeach; ?>
			</ul>
		</div>
		<?php endif; ?>
	</div>
</div>

<?php if( count( $musicas ) ): ?>

<div class="full-line visible-xs">
	<div class="container">
		<a href="<?php echo $this->url('repertorio'); ?>" class="btn btn-xs btn-danger pull-right"><?php echo $this->translate('ver mais'); ?></a>
		<h3 class="pull-left"><?php echo $this->translate('Músicas'); ?></h3>		
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 visible-xs">
			<ul class="novas-musicas">
				<?php foreach( $musicas as $musica ): ?>
				<li>
					<a href="<?php echo $this->url('repertorio'); ?>" class="music-link"><span class="glyphicon glyphicon-play-circle"></span> <?php echo $musica['nome']; ?></a>
					<a href="#" data-src="<?php echo 'uploads/musicas/' . $musica['caminho']; ?>" class="btn btn-default btn-xs pull-right play-radio"><?php echo $this->translate('tocar na rádio'); ?></a>
				</li>
				<?php endforeach; ?>
			</ul>
		</div>
	</div>
</div>

<?php endif; ?>