<?php

$title = $this->translate( 'Fotos' );
$this->headTitle( $title );

?>

<div class="white-opaque">

<div class="full-line">
	<div class="container">
		<h3 class="pull-left"><?php echo $this->translate('Fotos'); ?> <br/>
		<small><?php echo $this->translate('Veja algumas fotos do nosso trabalho'); ?></small></h3>		
	</div>
</div>

<div class="container fotos">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<?php if( count( $registros ) ): ?>
				<ul class="galeria">
				<?php foreach( $registros as $registro ): ?>
					<li>
						<a href="<?php echo $this->basePath( 'uploads/fotos/' . $registro['path'] ); ?>" rel="galeria" class="fancybox">
							<img src="<?php echo $this->basePath( 'uploads/fotos/thumb_' . $registro['path'] ); ?>" alt="" width="65" class="img-circle" />
						</a>
					</li>
				<?php endforeach; ?>
				</ul>
			<?php else: ?>
				<p class="text-muted"><i><?php echo $this->translate('Nenhuma imagem foi encontrada'); ?></i></p>
			<?php endif; ?>
			
			<div class="text-center clear-both">
				<?php echo $this->paginationControl( $registros, 'Sliding', 'partial/paginator/control.phtml' ); ?>
			</div>
		</div>
	</div>
</div>
	
</div>