<?php

$title = $this->translate( 'Músicas' );
$this->headTitle( $title );

?>

<div class="row toolbar">
	<div class="col-lg-12">
		<a href="<?php echo $this->url('musicas', array('action' => 'save')); ?>" class="btn btn-small btn-primary"><?php echo $this->translate('Adicionar'); ?></a>
		<button class="btn btn-small btn-danger submit-main"><?php echo $this->translate('Remover'); ?></button>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

		<h3><?php echo $this->translate('Músicas'); ?></h3>
		
		<form action="<?php echo $this->url('musicas', array('action' => 'remove')); ?>" method="POST" class="main">
		
		<table class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th><input type="checkbox" class="checkall" /></th>
					<th><?php echo $this->translate('Nome'); ?></th>
					<th><?php echo $this->translate('Autor'); ?></th>
					<th><?php echo $this->translate('Tipo'); ?></th>
					<th><?php echo $this->translate('Categoria'); ?></th>
					<th><?php echo $this->translate('Arquivo'); ?></th>
					<th class="text-center"><?php echo $this->translate('Ações'); ?></th>
				</tr>
			</thead>
			<tbody>
		<?php if( count( $registros ) ): ?>
			<?php foreach( $registros as $registro ): ?>
				<tr>
					<td><input type="checkbox" name="registros[]" value="<?php echo $registro['id']; ?>" class="checkbyall" /></td>
					<td><?php echo $registro['nome']; ?></td>
					<td><?php echo $registro['autor']; ?></td>
					<td><?php echo $registro['tipo']; ?></td>
					<td><?php echo $registro['categoria']; ?></td>
					<td><a href="<?php echo $this->basePath( 'uploads/musicas/' . $registro['caminho'] ); ?>"><?php echo $registro['caminho']; ?></a></td>
					<td class="text-center">
						<a href="<?php echo $this->url( 'musicas', array('action' => 'save', 'id' => $registro['id']) ); ?>" class="btn btn-warning btn-xs">
							<?php echo $this->translate('Editar'); ?>
						</a>
					</td>
				</tr>
			<?php endforeach; ?>
		<?php else: ?>
				<tr>
					<td colspan="7"><?php echo $this->translate('Nenhuma música foi encontrado'); ?></td>
				</tr>
		<?php endif; ?>
			</tbody>
		</table>
		
		</form>
		
		<?php echo $this->paginationControl( $registros, 'Sliding', 'partial/paginator/control.phtml' ); ?>
		
	</div>

</div>